---

import SHead from "@components/site/SHead/index.astro";
import Navbar from "./Navbar.maPBModels.astro";
import Header from "./Header.maPBModels.astro";
import Promos from "./Promos.maPBModels.astro";
import Products from "./Products.maPBModels.astro";
import Contact from "./Contact.maPBModels.astro";
import Footer from "./Footer.maPBModels.astro";

const {data:{posts, pages}, title, description} = Astro.props;

---

<html lang="es">
    <head>
        <SHead title={title} description={description} />
    </head>
    <body>
        <Navbar />
        <Header title={`${title} | Restaurantes`} description={`${description}`} />
        <main>
            <Promos pages={pages} />
            <Products posts={posts} />
            <Contact/>
        </main>
        <Footer/>
    </body>
</html>

<style>

    div {
        height:     100%;
    }

</style>