---

// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "@/styles/global.css"; // Se añade / para que el import funcione


interface Props {
  title: string;
  description: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
  title,
  description,
} = Astro.props;

const favicon = "img/branding/favicon-logo_restaurantes.ico";
const appleTouchIcon = "img/branding/appleTouchIcon-logo_restaurantes.png";
const socialCard = "img/branding/socialCard-logo_restaurantes";

---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="generator" content={Astro.generator} />
<link rel="icon" type="image/png" href={new URL(favicon, Astro.url)} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<meta name="title" content={title} />
<meta name="description" content={description} />
<title>{title}</title>

<!-- Apple Touch Icon -->
<link rel="apple-touch-icon" href={new URL(appleTouchIcon, Astro.url)}>

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(socialCard, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(socialCard, Astro.url)} />

<!-- css librerias/ cdn -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />

